/* Global Styles */
html * {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
b {color: #323846; font-weight: bold;}
i {font-style: italic;}
u {font-style: underline;}
body {
    background: linear-gradient(90deg, rgba(237,241,245,1) 0%, rgba(255,251,251,1) 100%);
}

/* Header Styles */
header {
    background-color: #323846;
    color: white;
    height: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
nav ul {
    list-style: none;
    text-align: left;
    margin-left: 100px;
    padding: 0;
    font-weight: bold;
}
nav li {
    display: inline-block;
    line-height: 50px;
}

/* Main Styles */
h1 {
    font-size: 28px;
    margin-left: 50px;
    padding-top: 25px;
    padding-left: 0px;
}
h2 {
    margin-left: 50px;
    padding-top: 25px;
    padding-left: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #323846;
}
p{
    padding-top: 25px;
    padding-left: 0px;
    margin-left: 25px;
    margin-right: 10%;
}
p.first{
    margin-left: 50px;
    margin-right: 10%;
    padding-top: 5px;
    padding-left: 0px;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 100px;
    padding-top: 14px;
    text-indent: -1.4em;
}
ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 95px;
    padding-top: 14px;
    text-indent: 0.2em;
}
button {
    position: relative;
    left: 50px;
    top: 15px;   
    background-color: #323846;
    border: none;
    color: white;
    margin: 4px 2px;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;   
}